[submodule "device-simulation"]
	path = device-simulation
	url = git@github.com:Azure/device-simulation-dotnet.git
[submodule "webui"]
	path = webui
	url = git@github.com:Azure/azure-iot-pcs-remote-monitoring-webui.git
[submodule "azure-remote-monitoring-cli"]
	path = azure-remote-monitoring-cli
	url = git@github.com:Azure/azure-remote-monitoring-cli
[submodule "iothub-manager"]
	path = iothub-manager
	url = git@github.com:Azure/iothub-manager-dotnet.git
