[core]
    whitespace = trailing-space,space-before-tab
    autocrlf = true
    eol = lf
[apply]
    whitespace = fix
[alias]
    st = status
    co = checkout
    ci = commit
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lg1 = log --pretty=oneline
    lgx = log --stat
    stashx = stash show --patience
